# ignore PyCharm files
.idea/*

#Windows
Thumbs.db
#OSX
.DS_Store
#Python
*.pyc
#other apps
registration/*
database/*
mediafiles/*
*.bak

#settings
settings.py

filetransfers/*

dev/*