{% extends "base.html" %}
{% block title %}Change Your Password | EngSci Courses{% endblock %}
{% block heading %}<p
        style="font-family: Georgia !important; font-size: 2em; font-style:
        italic; ">Password change</p>{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>{{ form }}</table>

        <input type="submit" value="change"/>
    </form>

{% endblock %}