{% extends 'base.html' %}
{% block title %}{{ course_code }} {{ course_name }} - EngSci Courses{% endblock %}
{% block heading %}{{ course_code }} <strong>{{ course_name }}</strong>{% endblock %}
{% block content %}

    <div class="squeeze">

        {% for type in files %}
            <h2>{{ type.name }}{{ type.files|pluralize }}</h2>
            <ul>
                {% for file in type.files %}
                    <li><a href="{{file.get_absolute_url}}">{{ file.year }} - {{ file.name }}</a> {%if file.owner == user %} (<a href="{{file.delete_url}}">delete</a>) {%endif%}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </div>
{% endblock content %}