{% extends 'base.html' %}
{% block title %}EngSci Courses{% endblock %}
{% block heading%}<span style="font-family: Georgia !important">Welcome to
    EngSci
    Courses</span>{%endblock%}
{% block content %}

<div class="grid_2 alpha">
<div class="squeeze">
    <strong>Year</strong>
</div></div>
<div class="grid_14 omega">
    <div class="squeeze">
        <ul>
        {%for year in course_list %}
            <h3>{{ year }}</h3>
        {%endfor%}
        </ul>

    </div></div>
{% endblock content %}
